CarRentalWebClient/CarRentalWebClient/Connected Services/CarRentalService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd0" />
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CarRentalService" />
  <xs:element name="GetCars">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCarsResult" nillable="true" type="ArrayOfCar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CarRentalService" minOccurs="0" name="GetCustomersResult" nillable="true" type="q1:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>