CarRentalWebClient/CarRentalWebClient/Connected Services/CarRentalService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CarRentalService" />
  <xs:element name="CarRequestObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CarId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LicenseKey" nillable="true" type="xs:string" />
  <xs:element name="CarInfoObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element minOccurs="0" name="RegisterNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DayRent" type="xs:int" />
        <xs:element minOccurs="0" name="Year" type="xs:int" />
        <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfCar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Car" nillable="true" type="Car" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCar" nillable="true" type="ArrayOfCar" />
  <xs:complexType name="Car">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="RegisterNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DayRent" type="xs:int" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Car" nillable="true" type="Car" />
  <xs:element name="CustomerRequestObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerInfoObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CarRentalService" minOccurs="0" name="CustomerType" type="q1:CustomerType" />
        <xs:element minOccurs="0" name="Discount" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookingRequestObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BookingId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookingInfoObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ReturnTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
        <xs:element minOccurs="0" name="CarId" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CarRentalService" minOccurs="0" name="Customer" nillable="true" type="q2:Customer" />
        <xs:element minOccurs="0" name="Car" nillable="true" type="Car" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>